matplotlib
scipy
Pillow
numpy
prettytable
easydict
scikit-learn
pyyaml
yacs
termcolor
tabulate
tensorboard
opencv-python
pyyaml
yacs
termcolor
scikit-learn
tabulate
gdown
faiss-gpu
Cython==0.29.36
onnx==1.14.0
onnxoptimizer==0.3.13
onnxsim==0.4.33